### üìä Preprocessing Bank Transactions

This notebook loads the original Excel file with bank transactions, performs a detailed inspection, and applies data cleaning steps to prepare the dataset for the accounting automation system.

In [24]:
# Step 1: Load libraries
import pandas as pd
import re

# Set display options for better visibility
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)
pd.set_option("display.width", 1000)
pd.set_option("display.float_format", "${:,.2f}".format)
pd.set_option("display.precision", 2)

In [25]:
# Step 2: Load the file
file_path = "../data_sample/bancos/Movimientos_bancarios.xls"
df = pd.read_excel(file_path)

print("‚úÖ File loaded successfully.")
print(f"Shape: {df.shape}")
df.head()
print("Columns:", df.columns.tolist())
print("Data types:\n", df.dtypes)
df.info()

‚úÖ File loaded successfully.
Shape: (9301, 4)
Columns: ['Fecha', 'Movimiento', 'Importe', 'M√°s datos']
Data types:
 Fecha          object
Movimiento     object
Importe       float64
M√°s datos      object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9301 entries, 0 to 9300
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       9300 non-null   object
 1   Movimiento  9289 non-null   object
 2   Importe     9300 non-null   float64
 3   M√°s datos   9300 non-null   object
dtypes: float64(1), object(3)
memory usage: 290.8+ KB

In [26]:
# Step 3: Check for null values
print("üîç Null value count:")
print(df.isnull().sum())

# Visualize rows with missing data (if any)
df[df.isnull().any(axis=1)]

üîç Null value count:
Fecha          1
Movimiento    12
Importe        1
M√°s datos      1
dtype: int64

           Fecha Movimiento  Importe                                          M√°s datos
1623  06/04/2016        NaN   $-6.66                                                ...
1625  05/04/2016        NaN $-559.42                                                ...
1626  05/04/2016        NaN $-508.20                                                ...
1627  05/04/2016        NaN  $-42.35                                                ...
1632  01/04/2016        NaN $-111.19                                                ...
1644  23/03/2016        NaN $-151.25                                                ...
1664  18/03/2016        NaN  $-33.44                                                ...
1665  18/03/2016        NaN  $-91.72                                                ...
4968  23/03/2016        NaN $-151.25                                                ...
9087  06/04/2016        NaN   $-3.33                                                ...
9109  23/03/2016        NaN $-151.25                                                ...
9300         NaN        NaN      NaN                                                NaN

In [28]:
# Step 4: Clean data
# a) Strip spaces from column names
df.columns = df.columns.str.strip()

# b) Remove *all* whitespace characters (spaces, tabs, etc.) from each string cell
for col in df.select_dtypes(include="object").columns:
    df[col] = df[col].apply(lambda x: re.sub(r"\s+", "", str(x)) if pd.notnull(x) else x)

# c) Drop rows with any missing values and convert to string
df_clean = df.dropna()
df_clean= df_clean.astype(str)

print(f"‚úÖ Cleaned dataframe shape: {df_clean.shape}")
df_clean.info()

‚úÖ Cleaned dataframe shape: (9289, 4)
<class 'pandas.core.frame.DataFrame'>
Index: 9289 entries, 0 to 9299
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       9289 non-null   object
 1   Movimiento  9289 non-null   object
 2   Importe     9289 non-null   object
 3   M√°s datos   9289 non-null   object
dtypes: object(4)
memory usage: 362.9+ KB

In [29]:
# Step 5: Export cleaned data
output_path = "../data_sample/bancos/Movimientos_bancarios_preprocesado.xlsx"
df_clean.to_excel(output_path, index=False)

print(f"üíæ File exported to {output_path}")

üíæ File exported to ../data_sample/bancos/Movimientos_bancarios_preprocesado.xlsx

### ‚úÖ Preprocessing Complete

The cleaned dataset is now ready for use in the accounting model.